.inputsbuton {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 30%;
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #80808030;
  border-radius: 10px;
  min-height: 350px;
}

@media (max-width: 1000px)  {
    .form {
        min-width: 50%;
    }
  }

  @media (max-width: 500px)  {
    .form {
        min-width: 90%;
    }
  }

  .loader {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
  }
  .loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid white;
    animation: prixClipFix 2s linear infinite;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes prixClipFix {
    0% {
      clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    25% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }
    50% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
    }
    75% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    }
    100% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
  }
  .divLoader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }